@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif  ;
    background-color: oklch(98.7% 0.022 95.277);
}
* {
    marging: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-book {
    border: 1px solid oklch(27.9% 0.077 45.635);
    width: 9rem;
    height: 2rem;
    border-radius: 6px ;
    background-color: oklch(27.9% 0.077 45.635);
    color: oklch(98.7% 0.022 95.277);
}

button:hover {
    background-color: oklch(21% 0.077 45.635);
}

.library-container {
    /* border: 1px solid blue; */
    background-color: oklch(96.2% 0.059 95.617);
    border-radius: 9px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
   /*  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
    /* grid-auto-rows: 60%; */
    grid-auto-rows: minmax(250px, 1fr);
    gap: 1rem;
    margin: 2rem;
}

.book-card {
    border: 1px solid oklch(70.7% 0.022 261.325);
    font-size: 80%;
    text-align: center;
    padding: 1rem;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 0.3rem;
    background-color: oklch(87.9% 0.169 91.605);
    box-shadow: 1px 2px 4px oklch(72% 1% 91.605 / 50%);
}

.book-card:hover {
    box-shadow: 1px 2px 4px oklch(33% 1% 91.605 / 50%);
}

.book-title {
    font-weight: 600;
    height: 80%;
    /* border: 1px solid blue; */
}
.book-author {
    width: 90%;
    /* border: 1px solid blue; */
    border-radius: 3px;
    background-color: oklch(27.9% 0.077 45.635);
    background-size: 50%;
    color: oklch(98.7% 0.022 95.277);

}
.book-pages {
    height: 5%;
    align-self: center;
    font-size: 70%;
}

/* book-title,book-author,book-pages,book-pages,book-id */

