@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif  ;
    background-color: oklch(98.7% 0.022 95.277);
    padding: 2rem;
}
* {
    padding: 0;
    box-sizing: border-box; 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > h1 {
    
    width: fit-content;
    display: flex;
    justify-content: start;
    align-items: center;
}
.header > h1 > .icon {
    width: 2.2rem; 
}

.add-book {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    border: 1px solid oklch(27.9% 0.077 45.635);
    width: 9rem;
    height: 2rem;
    border-radius: 6px ;
    background-color: oklch(27.9% 0.077 45.635);
    color: oklch(98.7% 0.022 95.277);
}

button:hover {
    background-color: oklch(21% 0.077 45.635);
}

.library-container {
    /* border: 1px solid blue; */
    background-color: oklch(96.2% 0.059 95.617);
    border-radius: 9px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    grid-auto-rows: minmax(350px, 1fr);
    gap: 1rem;
    margin: 2rem;
    padding: 2rem;
    justify-content: center;
}

.book-card {
    border: 1px solid oklch(70.7% 10% 91.605);
    font-size: calc(85% + 0.2rem); 
    text-align: center;
    padding: 1rem;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 0.3rem;
    background-color: oklch(87.9% 0.169 91.605);
    box-shadow: 1px 2px 4px oklch(72% 1% 91.605 / 50%);
}

.book-card:hover {
    box-shadow: 1px 2px 4px oklch(33% 1% 91.605 / 50%);
}

.book-title {
    font-weight: 600;
    height: 80%;
    font-size: calc(1rem + 25%); 
}
.book-author {
    width: 90%;
    border-radius: 3px;
    background-color: oklch(27.9% 0.077 45.635);
    background-size: 50%;
    color: oklch(98.7% 0.022 95.277);

}
.book-pages {
    height: 5%;
    align-self: center;
    font-size: 70%;
}


.icon-box {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.read-state-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    border: 1px solid oklch(27.9% 0.077 45.635);
    width: fit-content;
    padding: 0.3rem 0.3rem;
    height: 1.4rem;
    border-radius: 4px ;
    background-color: oklch(100% 0.077 45.635);
    color: oklch(27.9% 0.077 45.635);
}

.read-state-btn:hover{
    background-color: oklch(27.9% 0.077 45.635);
    color: oklch(100% 0.077 45.635);
}

.del-icon {
    border: 4px solid oklch(27.9% 0.077 45.635);
    background-color: oklch(27.9% 0.077 45.635);
    border-radius: 50%;
    box-shadow: 1px 2px 4px oklch(33% 1% 91.605 / 50%);
    max-width: 2rem; 
}

.del-icon:hover {
    box-shadow: 1px 2px 4px oklch(33% 1% 91.605 / 50%);
    width: 50%;
    border: none;
    background-color: transparent;
}

dialog[open] {
    background-color: oklch(27.9% 0.077 45.635);
    border-radius: 9px;
    border: 1px solid oklch(27.9% 0.077 45.635);
    color: oklch(98.7% 0.022 95.277);
    display: grid;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 4px 10px oklch(25% 1% 45.635 / 50%);
}


.form-close-btn {
    justify-self: end; 
    margin: 0.5rem 0.5rem;
}

dialog form {
    width: 20rem;
    padding: 0rem 2rem 1rem 2rem;
}

.form-row-block {
    display: flex;
    justify-content: center; 
    align-items: start;
    flex-direction: column;
    font-family: inherit;
    gap: 0.1rem;
}

.form-row-block input { 
    border-radius: 6px;
    border-width: 1px;
    font-family: inherit;
    letter-spacing: 0.03rem;
    width: 100%;
    height: 2rem;
    padding-left: 1rem;
}

dialog form label {
    font-size: 1.2rem;
    font-weight: 500;
}

.read-status-box {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.read-status-box ol {
    list-style-type: none;
    display: flex;
    margin: 0;
    gap: 1rem;
}

.read-status-box > p {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
}

.dialog-confirm {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 500;
    border: 1px solid oklch(27.9% 0.077 45.635);
    width: 100%; 
    height: 3rem;
    border-radius: 6px ;
    background-color:oklch(98.7% 0.022 95.277) ;
    color: oklch(27.9% 0.077 45.635);
    margin: 1rem  0 0 0;
}
.dialog-confirm:hover {
    background-color:oklch(27.9% 0.077 45.635) ;
    color: oklch(98.7% 0.022 95.277);
    border: 1px solid oklch(98.7% 0.022 95.277) ;
    
}

.dialog-close-icon {
    width: 10%;
    fill: oklch(98.7% 0.022 95.277);
    justify-self: end;
    margin: 0.5rem;
}

.button-close-svg {
    width: 2.1rem;
    height: 2.1rem;
    justify-self: end;
    margin: 0.5rem;
    border-radius: 50%;
    background-color: transparent;
    fill: oklch(98.7% 0.022 95.277);
    border: none;
    
}

.button-close-svg:hover {
    fill: oklch(98.7% 0.022 95.277); 
    background-color: transparent;
}


::backdrop {
    backdrop-filter: blur(20px);
}

